@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-satoshi), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-text: var(--font-inter);

  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-500);
  --color-tertiary: var(--color-neutral-400);
  --color-i-primary: var(--color-neutral-50);
}

.dots {
  opacity: 0.8;
  background-image: radial-gradient(
    var(--color-neutral-400) 0.5px,
    var(--color-neutral-50) 1px
  );
  background-size: 10px 10px;
}

.grid-pattern {
  opacity: 0.1;
  background-image: linear-gradient(
      var(--color-neutral-200) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      var(--color-neutral-200) 1px,
      var(--color-neutral-100) 1px
    );
  background-size: 15px 15px;
}
