@import "tailwindcss";

@theme inline {
    --font-mono: var(--font-geist-mono);
    --font-sans: var(--font-satoshi);
    --font-text: var(--font-inter);
    --font-text-italic: var(--font-inter-italic);
}

:root {
    --font-sans: Satoshi, var(--font-sans);
    --font-mono: "Geist Mono", var(--font-mono);
}
