---
import Heart from "./Heart.astro"
---

<footer
  class="h-8 bg-stone-200 text-center text-xs flex fixed bottom-0 justify-center w-screen items-center"
>
  <div class="flex space-x-1">
    <p>Made with</p>
    <Heart />
    <p>
      so check out the <a
        target="_blank"
        class="underline"
        href="https://github.com/thejus-r/thejus.dev/tree/v2">source-code</a
      >
    </p>
  </div>
</footer>
