<a
  target="_blank"
  href="https://drive.google.com/file/d/1MSmu-79qc1l04d0MHVmdfh3707fpMngT/view?usp=sharing"
  class="flex lg:w-fit justify-center lg:justify-start underline underline-offset-8"
>
  Check out my resume
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-2 h-2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
  </svg>
</a>

<style>
  svg {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  a:hover svg {
    opacity: 1;
  }
</style>
