@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Chillax', sans-serif;
        font-family: 'Clash Display', sans-serif;
    }
}
/* 
* {
    font-family: 'Chillax', sans-serif;
    font-family: 'Clash Display', sans-serif;
} */