@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Satoshi', sans-serif;
        background-color: #FCFCFC;
        background-size: 40px 40px;
        background-image: radial-gradient(circle, #49494965 1px, rgba(0, 0, 0, 0) 1px);
    }
}


@layer utilities {
    .view-port{
        margin-top: 96px;
    }
}